{% extends 'base.html' %}

<h1>{% block title %} Receipt {% endblock %}</h1>


{% block content %}
<h1>
   Чек
</h1>

<form method="post">
 


<label>Список товаров </label>
      <label>
          <select name="name">
         <option value="" disabled="disabled" selected="selected">Выберите платеж</option>

              {% for payment in payments %}
            <option>{{payment.item_name  }}</option>

              {% endfor %}

         </select>
      </label>

     <div class="form-group">
        <label for="sum">email адрес</label>
        <label>
            <input type="text" name="email"
                   placeholder="Введите адрес электронной почты" class="form-control"
                   value="{{ request.form['email']}}"/>
        </label>
    </div>

     <div class="form-group">
        <label for="sum">Сумма платежа</label>
        <label>
            <input type="text" name="sum"
                   placeholder="Введите сумму платежа" class="form-control"
                   value="{{ request.form['sum']}}"/>
        </label>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Зарегистрировать чек</button>
    </div>
</form>

{% endblock %}
