{% extends 'base.html' %}

<h1>{% block title %} Receipt details {% endblock %}</h1>


{% block content %}
<h1>
   Детали чека
</h1>



 <div class="form-group">
        <label for="sum">Название товара</label>
        <label>
         {{ name }}
        </label>
    </div>

     <div class="form-group">
        <label for="sum">Цена товара</label>
        <label>
          {{ sum }}
        </label>
    </div>

     <div class="form-group">
        <label for="sum">Время покупки товара</label>
        <label>
           {{ date }}
        </label>

    </div>

     <div class="form-group">
        <label for="sum">LSC</label>
        <label>
           {{ lsc }}
        </label>

    </div>


{% endblock %}